@model trytest.Models.Contribution

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Contribution</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ContributionName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ContributionName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ContributionQuantity)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ContributionQuantity)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.contributiontype.ContributionTypeName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.contributiontype.ContributionTypeName)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ContributionID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
