@model trytest.Models.Contribution

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Contribution</legend>

        @Html.HiddenFor(model => model.ContributionID)

        <div class="editor-label">
            @Html.LabelFor(model => model.ContributionName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ContributionName)
            @Html.ValidationMessageFor(model => model.ContributionName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ContributionQuantity)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ContributionQuantity)
            @Html.ValidationMessageFor(model => model.ContributionQuantity)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ContributionTypeID, "contributiontype")
        </div>
        <div class="editor-field">
            @Html.DropDownList("ContributionTypeID", String.Empty)
            @Html.ValidationMessageFor(model => model.ContributionTypeID)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
