@model trytest.Models.User

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>User</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.UserName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UserName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.UserNickname)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UserNickname)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.UserPassword)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UserPassword)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.UserEmail)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UserEmail)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.UserAge)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UserAge)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.UserSex)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UserSex)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
