@model trytest.Models.Friend

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Friend</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.FriendName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FriendName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.FriendNickname)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FriendNickname)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.FriendPassword)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FriendPassword)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.FriendEmail)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FriendEmail)
    </div>

 
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
